:root {
  --inter: "Inter";
  --cg-container: 1620px;
  --blue: #1e88e5;
  --black: #111111;
  --grey: #555555;
  --white: #ffffff;
  --dark: #1a1a1a;
  --green-light: #17AD87;
  --yellow: #F2C200;
  --orange: #BC4923;
  --purple: #B007ED;
  --lightblue: #e5f1fc;
  --light-blue-bg: #F8FCFF;
  --border-color: #DFDFDF;
  --tab-bg-color: #FFFFFA;
  --blue-ring-color: #CEE9FF;
  --blue-btn-shadow: 0 12.292px 18.438px -3.688px rgba(30, 136, 229, 0.25), 0 4.917px 7.375px -4.917px rgba(30, 136, 229, 0.25);
  /* Font Sizes */
  --font-56: 56px;
  --font-44: 44px;
  --font-36: 36px;
  --font-26: 26px;
  --font-24: 24px;
  --font-22: 22px;
  --font-20: 20px;
  --font-18: 18px;
  --font-16: 16px;
  --font-14: 14px;
}


.common-card {
  background-color: var(--white);
  padding: 30px;
  border-radius: 20px;
}

.gradient-card-hover {
  position: relative;
}

.gradient-card-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/common-bg-gradiant-hover.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.common-card.gradient-card-hover:hover::before {
  opacity: 1;
}

/* common tabs start */
.common-tab {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  margin-bottom: 40px;
}

.common-tab .nav-item .nav-link {
  color: var(--grey);
  font-size: var(--font-24);
  font-weight: 600;
  line-height: 143%;
  padding: 15px 0;
  border: none;
  background-color: unset;
  border-radius: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
}

.common-tab .nav-item {
  border: none;
  flex: auto;
}

.common-tab .nav-item .nav-link.active {
  border-bottom: 2px solid var(--blue);
  color: var(--blue);
}

.common-tab .blue-dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--blue);
  border-radius: 50%;
}

.common-tab .nav-item .nav-link.active .blue-dot {
  box-shadow: 0 0 0 7px var(--blue-ring-color);
}

/* common tabs end */

/* service sticky section start */
.service-sticky-section {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background: var(--tab-bg-color);
  justify-content: center;
  grid-gap: 40px;
  position: sticky;
  top: 97px;
  z-index: 2;
}

.service-sticky-list {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-sticky-list li a {
  color: var(--grey);
  font-size: var(--font-20);
  font-weight: 400;
  line-height: 194%;
  padding: 15px 0;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  border: none;
}

.service-sticky-list li a.active {
  border-bottom: 2px solid var(--blue);
  color: var(--blue);
  font-weight: 600;
}

.service-sticky-list li a.active:hover {
  color: var(--blue);
}

.service-sticky-list li a:hover {
  color: var(--blue);
}

/* service sticky section end */


/* service overview section start */
.service-overview-section .content-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin-bottom: 50px;
}

.overview-content-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.reverse-row {
  direction: rtl;
}

.reverse-row>* {
  direction: ltr;
}

.overview-content-row .common-card ul {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  list-style: none;
}

.overview-content-row .common-card ul li {
  color: var(--grey);
  font-size: var(--font-20);
  position: relative;
  padding-left: 18px;
  font-weight: 400;
  line-height: 150%;
}

.overview-content-row .common-card ul li::before {
  content: "";
  background-color: var(--grey);
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 12px;
}

/* service overview section end */

/* our services section start */
.our-services .content-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin-bottom: 50px;
}

.our-service .our-services-wrapper {
  display: flex;
  justify-content: space-between;
  grid-gap: 40px;
}

.common-card.services-card {
  position: relative;
  background: var(--light-blue-bg);
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.common-card.services-card span img {
  filter: brightness(0) invert(1);
}

.common-card.services-card .common-card-header span {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--green-light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.common-card.services-card:nth-child(1) .common-card-header span {
  background-color: var(--green-light);
}

.common-card.services-card:nth-child(2) .common-card-header span {
  background-color: var(--blue);
}

.common-card.services-card:nth-child(3) .common-card-header span {
  background-color: var(--yellow);
}

.common-card.services-card:nth-child(4) .common-card-header span {
  background-color: var(--orange);
}

.common-card.services-card:nth-child(5) .common-card-header span {
  background-color: var(--purple);
}

.common-card.services-card:hover .common-card-header span {
  background-color: var(--white);
}

.common-card.services-card:hover .common-card-header span img {
  filter: none;
}

.our-service .our-services-wrapper .common-card-header {
  display: flex;
  align-items: center;
  grid-gap: 12px;
}

.our-service .content-box {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  position: sticky;
  top: 200px;
  height: fit-content;
  flex-basis: 600px;
}

.our-service .content-box h2 {
  text-align: left;
}

.explore-btn {
  color: var(--blue);
  font-size: var(--font-20);
  font-weight: 400;
  line-height: 30px;
  display: flex;
  width: fit-content;
  grid-gap: 3px;
}

.our-service .service-card-list {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  flex-basis: 745px;
}

/* our services section end */
#our-services,
#overview {
  scroll-margin-top: 140px;
}

/* benefits section start */
.benefits-section .benefits-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.benefits-section .content-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin-bottom: 50px;
}

.common-card.benefits-card {
  grid-column: span 2;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.common-card.benefits-card:nth-child(4) {
  grid-column: 2 / span 2;
}

.common-card.benefits-card:nth-child(5) {
  grid-column: 4 / span 2;
}

.common-card.benefits-card span {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  transition: all 0.3s ease-in-out;
}

.common-card.benefits-card:nth-child(1) span {
  background-color: var(--blue);
}

.common-card.benefits-card:nth-child(2) span {
  background-color: var(--yellow);
}

.common-card.benefits-card:nth-child(3) span {
  background-color: var(--purple);
}

.common-card.benefits-card:nth-child(4) span {
  background-color: var(--orange);
}

.common-card.benefits-card:nth-child(5) span {
  background-color: var(--green-light);
}

.common-card.benefits-card:hover span {
  background-color: var(--white);
}

.common-card.benefits-card:hover span img {
  filter: none;
}

.common-card.benefits-card span img {
  filter: brightness(0) invert(1);
}

.common-card.benefits-card h5 {
  color: var(--black);
  font-size: var(--font-22);
  font-weight: 700;
  line-height: 154%;
  margin-bottom: 10px;
}

.common-card.benefits-card p {
  color: var(--grey);
  font-size: var(--font-20);
  font-weight: 400;
  line-height: 150%;
}

.common-card.benefits-card {
  position: relative; 
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

/* benefits section end */